{{#section 'title'}}
<title>Đổi mật khẩu</title>
{{/section}}

<div class="card w-50 mx-auto px-3 pb-3">
    <form id="registerFormValidation" action="" method="" required>
        <div class="card-header">
            <h4 class="card-title">
                Đổi mật khẩu
            </h4>
        </div>
        <div class="card-content">
            <div class="form-group">
                <label class="control-label">
                    Mật khẩu cũ <star class="text-danger">*</star>
                </label>
                <input class="form-control" name="password" type="password" required="true" autocomplete="off"
                    title="username phải từ 3-20 kí tự, không có _ hay . ở đầu và cuối"
                    pattern="^(?=.{3,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$">
            </div>
            <div class="form-group">
                <label class="control-label">Mật khẩu mới <star class="text-danger">*</star></label>
                <input class="form-control" name="newPassword" type="newPassword" required="true">
            </div>
            <div class="form-group">
                <label class="control-label">Xác nhận mật khẩu mới <star class="text-danger">*</star></label>
                <input class="form-control" name="password_confirmation" type="password" required="true">
            </div>
            <div class="category">
                <star class="text-danger">*</star> Required fields
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-info btn-fill pull-right">Lưu thay đổi</button>
        </div>
    </form>
</div>