{{#section 'title'}}
<title>Tài khoản cá nhân</title>
{{/section}}
<div class="card card-user">
    <div class="card-header">
        <h5 class="card-title">Thông tin cá nhân</h5>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-8 pr-1">
                    <div class="form-group">
                        <label>Họ tên</label>
                        <input type="text" readonly class="form-control bg-transparent" value="Trần Nhật Hào">
                    </div>
                </div>
                <div class="col-md-4 pl-1">
                    <div class="form-group">
                        <label>Năm sinh</label>
                        <input type="text" readonly class="form-control bg-transparent" value="2001">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 pr-1">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" readonly class="form-control bg-transparent" value="michael23">
                    </div>
                </div>
                <div class="col-md-4 pl-1">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Số CMND / Căn cước công dân</label>
                        <input type="text" readonly class="form-control bg-transparent" value="0099559955">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 pr-1">
                    <div class="form-group">
                        <label>Nơi đang điều trị / cách ly</label>
                        <input type="text" readonly class="form-control bg-transparent" value="Ngoài công viên">
                    </div>
                </div>
                <div class="col-md-4 pl-1">
                    <div class="form-group">
                        <label>Trạng thái hiện tại</label>
                        <input type="text" readonly class="form-control bg-transparent" value="F0">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 pr-1">
                    <div class="form-group">
                        <label>Tỉnh / Thành phố</label>
                        <input type="text" readonly class="form-control bg-transparent" value="Melbourne">
                    </div>
                </div>
                <div class="col-md-4 px-1">
                    <div class="form-group">
                        <label>Quận / Huyện</label>
                        <input type="text" readonly class="form-control bg-transparent" value="Australia">
                    </div>
                </div>
                <div class="col-md-4 pl-1">
                    <div class="form-group">
                        <label>Phường / xã</label>
                        <input type="text" readonly class="form-control bg-transparent" value="xxx">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>