{{#section 'title'}}
<title>Category</title>
{{/section}}

{{#section 'style'}}
<link href="/css/home.css" rel="stylesheet" />
{{/section}}

<section class="section-sm pt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="search-result bg-gray">
                    <h2>Kết quả cho "{{searchTerm}}"</h2>
                    <p>123 Results ...</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="category-sidebar">
                    <div class="widget category-list">
                        <h4 class="widget-header">All Category</h4>
                        <ul class="category-list">
                            {{#each categories}}
                            <li><a href="/category/{{this.category_id}}">{{this.name}}<span>233</span></a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="product-grid-list">
                    <div class="row mt-30">
                        {{#each packages}}
                        <div class="col-sm-12 col-lg-4 col-md-6">
                            {{> packetPartial
                            imgSrc=this.img_url
                            name=this.name
                            id=this.package_id
                            category=../mainCategory
                            }}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>