{{#section 'title'}}
<title>Quản lý tài khoản</title>
{{/section}}

{{#section 'style'}}
{{!-- DataTables --}}
<link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
{{/section}}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"> Danh sách người bệnh</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive p-3">
                <table class="table table-hover" id="table_account_management">
                    <thead class=" text-primary">
                        <tr>
                            <th>
                                Họ tên
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th class="text-right">
                                Trạng thái
                            </th>
                            <th class="text-center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td>
                                {{this.name}}
                            </td>
                            <td>
                                {{this.city}}
                            </td>
                            <td class="text-center">
                                {{this.status}}
                            </td>
                            <td class="text-center">
                                <a href="/manager/account-management/5" class="btn btn-success">Chi tiết</a>
                                <a href="/manager/account-management/5/edit" class="btn btn-info">Sửa</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}
{{!-- Datatables --}}
<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
<script>
    $(document).ready(function () {
        $('#table_account_management').DataTable();
    });
</script>
{{/section}}