<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="/" class="simple-text logo-normal">
            <div class="logo-image-small mx-auto" style="width: 100px">
                <img src="/img/logo.png">
            </div>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="{{#if active.profile}}active{{/if}}">
                <a href="/user/{{id}}/profile">
                    <i class="nc-icon nc-badge"></i>
                    <p>Tài khoản của tôi</p>
                </a>
            </li>
            <li class="{{#if active.management}}active{{/if}}">
                <a href="/user/{{id}}/management">
                    <i class="nc-icon nc-single-copy-04"></i>
                    <p>Lịch sử được quản lý</p>
                </a>
            </li>
            <li class="{{#if active.purchase}}active{{/if}}">
                <a href="/user/{{id}}/purchase">
                    <i class="nc-icon nc-cart-simple"></i>
                    <p>Lịch sử mua hàng</p>
                </a>
            </li>
            <li class="{{#if active.payment}}active{{/if}}">
                <a href="/user/{{id}}/payment">
                    <i class="nc-icon nc-money-coins"></i>
                    <p>Tài khoản thanh toán</p>
                </a>
            </li>
        </ul>
    </div>
</div>